<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board_api.mapper.BoardMapper">
    <select id="findAll" resultType="boardListDTO">
        select board_id as boardId,
               title as title,
               view_count as viewCount,
               user_name as userName,
               DATE_FORMAT(B.created_at, '%y-%m-%d %H:%i:%s') as createdDate,
                DATE_FORMAT(B.modified_at, '%y-%m-%d %H:%i:%s') as modifiedDate
        from board B
        left join user U
        on B.created_by = U.user_id
        order by board_id desc
    </select>

    <select id="detailInfo" resultType="boardDTO">
        select *
        from board
        where board_id= #{boardId}
    </select>

    <insert id="insertBoard" parameterType="boardDTO">
        insert into board (title, content, view_count, created_by, created_at, modified_by, modified_at)
        values (#{title}, #{content}, 0, #{createdBy}, SYSDATE(), null, null)
    </insert>

    <update id="updateBoard" parameterType="boardDTO">
        UPDATE board
        SET title = #{title}, content = #{content}, modified_by = #{modifiedBy}, modified_at = SYSDATE()
        where board_id = #{boardId}
    </update>

</mapper>
